.moving-text-strip {
  background-color: #52489C;
  color: white;
  padding: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .moving-text-strip {
    font-size: 10px;
  }
}

.moving-text-content {
  display: inline-block;
  white-space: nowrap;
  animation: moveText 20s linear infinite;
}

.moving-text-content span {
  display: inline-block;
  padding-right: 0px;
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.moving-text-content:hover {
  animation-play-state: paused;
}
